KRB5_CONFIG=/etc/krb5.conf
KRB5CCNAME=DIR:/tmp/kerberos/cache
KEYTABS_PATH=/etc/security/keytabs/
MITM_SET_SSL_VERIFY_UPSTREAM_TRUSTED_CA=/etc/ssl/ca-bundle.pem

MITM_OPT_LISTEN_PORT=8081
MITM_OPT_WEB_PORT=9047
MITM_OPT_NO_WEB_OPEN_BROWSER=-
MITM_OPT_PROXYAUTH=any

KERBEROS_REALM=LOCALHOST
MITM_SET_CONFDIR=/home/user/projects/github.com/kerberos-auth-proxy/var/mitm
MITM_TLS_CA_CRT=/home/user/.local/share/mkcert/rootCA.pem
MITM_TLS_CA_KEY=/home/user/.local/share/mkcert/rootCA-key.pem

CONFIG_FILE=config.yaml
