KUBECONFIG=/home/USER/.secret/vdi-k3s-cluster
MITM_TLS_CA_KEY=/home/USER/.local/share/mkcert/rootCA-key.pem
MITM_TLS_CA_PEM=/home/USER/.local/share/mkcert/rootCA.pem
MITM_TRUST_CAS_DIR=
MITM_AUTH_PASSWORD=
KRB5_CONFIG=/etc/krb5.conf
MITM_SET_KERBEROS_KEYTABS_PATH=/etc/security/keytabs
MITM_SET_KERBEROS_REALM=LOCALHOST
MITM_SET_KERBEROS_SPNEGO_CODES=401
MITM_SET_KERBEROS_KNOX_URLS=http://localhost:8443/gateway/knoxsso/knoxauth
MITM_SET_KERBEROS_KNOX_CODES=302
MITM_SET_CONSOLE_EVENTLOG_VERBOSITY=debug
MITM_SET_TERMLOG_VERBOSITY=debug
